h1, h2, h3, p, span, body {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/static/img/background.jpg");

}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.stats {
    font-family: Roboto, serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    background-color: rgba(76,25,13,0.96);
    border-radius: 15px;
    color: white;
    padding: 10px 100px;
}

.stats > h2 {
    font-size: 18px;
}

.points {
    font-size: 24px;
}

.stats > h3 {
    font-size: 14px;
    font-style: italic;
}

.power {
    font-size: 16px;
    font-style: italic;
}

.clicker-title-container {
    background-color: rgba(75, 36, 38, 0.96);
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.5)
}

.clicker-title-container > p{
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto, serif;
    width: fit-content;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hardbass {
    display: block;
    height: 320px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin-top: 30px;
    padding-left: 20px;
    z-index: -1;
}

.click-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -50px;
}

button {
  outline:none;
  background: none;
  border:0;
  margin:.5em;
}
.round-button {
  width:25%;
}
.round-button-circle {
  width: 100%;
  height:0;
  padding-bottom: 100%;
    border-radius: 50%;
  border:10px solid #573030;
    overflow:hidden;

    background: rgb(117, 84, 84);
    box-shadow: 0 0 3px rgb(128, 128, 128);
}
.round-button-circle:hover {
  background: rgba(110, 48, 50, 0.96);
}
.round-button a, .round-button span {
    display:block;
  float:left;
  width:100%;
  padding-top:50%;
    padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;

  text-align:center;
  color:#e2eaf3;
    font-family:Verdana;
    font-size:1.9em;
    font-weight:bold;
    text-decoration:none;
}

.boosts {
    height: 100%;
    background-color: rgba(112, 54, 54, 0.96);
}

.boosts-title-container {
    background-color: rgba(76,21,22,0.96);
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.5)
}

.boosts-title-container > p{
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Roboto, serif;
    width: fit-content;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.boost-holder {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));;
    gap: 10px;
    padding: 15px;
}

.boost-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #ffedbe;
    border-radius: 15px;
    padding: 15px;
    font-family: Roboto, serif;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5)
}

.boost-image {
    display: block;
    height: 60px;
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.boost-name {
    display: block;
    margin: 10px auto auto;
    width: fit-content;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.inactive {
    opacity: 60%;
}

.inactive * {
    pointer-events: none;
}

.boost-level {
    margin-top: 5px;
}

.boost-power {
    margin-top: 5px;
}

.boost-price {
    margin-top: 5px;
}

.boost-buy-button {
  margin-top: 5px;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(76,21,22,0.96);
    border-radius: 15px;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(145, 96, 96, 0.96);
    transition: all .3s;
    border-radius: 15px;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
